<section  id="header">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Enriching your mind with beautiful thoughts</h1>
            </div>
            <div class="col-md-6 back-image">
                <h1 class="position-absolute text-center" id="header-style">Welcome to Peace Developers</h1>
            </div>
        </div>
    </div>


</section>