// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#product-image {
    height: 200px;
    width: auto;
}

#marginTop {
    margin-bottom: 50px;
}

#show_img {
    height: 60vh;
    width: 700px;
    margin: auto;
}

.image-setting {

    width: 100px;
}

.banner-img {
    height: 400px;
    width: 500px;
}

.text-design {
    color: orangered;
    padding-top: 20px;
}

.line-height {
    line-height: 70px;
}

#position-styling {
    position: absolute;
    top: 120%;
    z-index: 1;
}

#position-relative {
    position: static;
    margin-top: 100px;
}

#icon-style {
    background-color: antiquewhite;
    padding: 5px;
    height: 60px;
    width: 50px;
    border-radius: 30px;
    margin: auto;
}


.hover-style {
    transition: transform .7s ease-in-out;
}

.hover-style:hover {
    transform: rotate(360deg);
}

.about {
    height: 100vh;
}

.background {
    background-color: #8b76ac;
}

#mid-image {
    height: 200px;
    width: 200px;
}

.card-img-top {
    height: 120px;
    padding-top: 10px;
}

.fa-cart-shopping {
    color: white;
}