<div class="container">
    <div class="row d-flex justify-content-center m-0">
        <h1 class="text-center">Create New Category</h1>
        <div class="col-md-6 ">
            <%= render 'form' %>
        </div>
    </div>
</div>