<div class="container mt-5 text-center">
<div class="row">
<div class="card">
    <h1>Category</h1>
  <div class="card-body">
    <h5 class="card-title"><%= @category.name %></h5>
    <%= link_to "Edit Product", edit_category_path(@category), class:"btn btn-primary" %>
    <%= link_to "Delete Product", category_path(@category),data:{method: :delete, confirm: "Do you really want to delete the category?"} ,class:"btn btn-danger" %>
  </div>
</div>
</div>
</div>